p{font-size:25px ;
    text-align:justify;
}
.h1-1{
    font-family: 'Diplomata SC', cursive;
    border: 5px solid white;
    width: 500px;
}
#quote-1{
    font-size: 25px;
    position: relative;left: 520px;top: -112px;
}
#speaker{
    position: relative;top: 30px;left: -80px;
}
h1{
    font-family: 'Diplomata SC', cursive;
    font-size:50px;
    text-align:center;
}
body{
    background-image: url("wallp.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    color:bisque;
    word-spacing: 5px;
  
}
dt{ 
    font-size:40px ;
}
ol{
    text-align: justify;
    font-size: 20px;
} 
blockquote{
    font-size:21px ;
    text-align: center;
   padding: 10px;
}
h2{
    font-size: 30px;
}

.special{
    font-style: oblique;
}
.heading{
    text-decoration: underline;
}
#h2-1{
    text-decoration: underline;
    text-align: center;
    font-size: 40px;
    
}
#p-1{
    text-align: center;
    width: 960px;
    margin: 0 auto;
}
.ullist{
    font-size: 40px;
    list-style-type: none;
    float: top;
    
}

#h1-wt{
    font-size: 60px;
    border: 5px solid white;
    width: 500px;
}
#h1-yt{
    font-size: 60px;
    border: 5px solid white;
    width: 550px;
}
.para1{;
    position: absolute;left: 530px;top: 210px;
}
.list2{
    list-style-type:square;
    position: relative;left: auto;top: -20px;
    line-height: 40px;
    font-size:20px;
}
.list3{
    list-style-type:square;
    line-height: 40px;
    font-size:24px;
}
#h1-gt{
    font-size: 60px;
    border: 5px solid white;
    width: 500px;
}
.para2{
    position: relative;left: 530px;top: -360px;
} 
.brewing-list{
    font-size: 25px;
    line-height: 30px;
}
.para4{
    position: relative;left: 580px;top: -400px;
} 
.para5{
    position: relative;left: 580px;top: -350px;
} 
.para6{
    position: relative;left: 580px;top: -410px;
} 
#body1{
    width: 960px;
    margin: 0 auto;
}
nav a:link, nav a:visited{
    align-content: center;
    text-align: center;
    float: top;
    text-decoration: none;
    background-color: crimson;
    color:bisque;
    display: block;
    width: 80px;
    padding: 10px;
}
nav a:hover{
    background-color:coral;
    color: rgb(0, 0, 0);
}